@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex aligns-items-center justify-content-center">
    <div class="my-5 row">
        <div class="col-xl-8">
            <h1 class="display-5 fw-medium h3 text-bold">Unlock Seamless Control</h1>
            <p class="p w-75">Welcome to a new era of streamlined account management and role assignment. Our innovative software empowers you to effortlessly create and manage user accounts, ensuring precision and security in every step. Seamlessly assign roles and permissions, granting your team members the right level of access they need. </p>
            <button class="btn btn-success btn-lg block">
                Get started
            </button>
        </div>
        <div class="col-md-4">
            <img src="~/img/cta.svg" class="img-fluid" alt="CTA Image">
        </div>
    </div>
</div>

<div class="bg-dark p-4">
    <div class="container">
        <h1 class="text-light h4 fw-medium">Trusted Companies</h1>
        <div class="py-2">
            <div class="row justify-content-md-center">
                <div class="col-sm-3 center">
                    <img src="https://cdn-icons-png.flaticon.com/128/300/300221.png" class="img-fluid" width="100" alt="CTA Image">
                </div>
                <div class="col-sm-3 center">
                    <img src="https://cdn-icons-png.flaticon.com/128/732/732221.png" class="img-fluid" width="100" alt="CTA Image">
                </div>
                <div class="col-sm-3 center">
                    <img src="https://cdn-icons-png.flaticon.com/128/3256/3256013.png" class="img-fluid" width="100" alt="CTA Image">
                </div>
                <div class="col-sm-3 center">
                    <img src="https://cdn-icons-png.flaticon.com/128/882/882727.png" class="img-fluid" width="100" alt="CTA Image">
                </div>
            </div>
        </div>
    </div>
</div>
